.p1{
	background-color: greenyellow;
	color: whitesmoke;
}
.p2{
	background-color: skyblue;
	color: whitesmoke;
}
.p3{
	background-color: skyblue;
	color: whitesmoke;
}
.p4{
	background-color: skyblue;
	color: whitesmoke;
}
.p5{
	background-color: skyblue;
	color:red;
}
